#topbar{
    background-color: black;
    width: 100%;
    height: 30px;
}
#container{
    width: 80%;
    margin: auto;
}
#body{
    background-color: white;
}
#header{
    background-color:white;
    width: 100%;
    height: 80px;
}
#header img{
    height: 80px;
}
#header ul{
    float: right;
    margin-top: 30px;
}
#header ul li{
    display: inline;
    margin-right: 25px;
}
#header ul li a{
    color: black;
    text-decoration: none;
    font-size: 22px;
    text-shadow:5px 5px 8px #cbbfbf;
}
#banner img{
    width: 100% ;
    padding-bottom: 20px;
}
#con1{
    width: 335px;
    height: 320px;
    background-color: #F86900;
    float: left;
    margin-right: 3%;
    box-shadow:5px 5px 8px #cbbfbf;
    
}
#con2{
    width: 335px;
    height: 320px;
    background-color: #FFC502;
    float: left;
    box-shadow:5px 5px 8px #cbbfbf;
}
#con3{
    width: 335px;
    height: 320px;
    background-color: #A2C511;
    float: right; 
    box-shadow:5px 5px 8px #cbbfbf;
}
.heading{
    color: white;
    font-size: 30px;
    margin-left: 20px;
}
.para1{
    color: white;
    margin-left: 20px;
    margin-right: 10px;
    font-size: 19px;  
}
.more{
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 9px;
    margin-left: 20px;
    font-size: 20px;
}
#bot1{
    width: 58%;
    float: left;
    margin-top: 28px;
    box-shadow: 5px 5px 8px gray;
    height: 320px;
}
#bot2{
    width: 40%;
    float: right;
    margin-top: 28px;
}
.bohead{
    color: rgb(0, 0, 0);
    font-size: 30px;
    margin-left: 20px;
}
.botm1{
    color: black;
    font-size: 19px;
    margin-right: 10px;
    margin-left: 20px;

}
.bot2par{
    color: black;
}
.more1{
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 9px;
    margin-left: 20px;
    font-size: 20px;
}
.headingbot{
    color: white;
    font-size: 28px;
    margin-left: 20px;
    margin-top: 15px;
}
#bot2 img{
    margin-left: 30px;
    margin-bottom:35px;
    box-shadow:5px 5px 8px grey;
    margin-top: -80px;
}
#footer{
    width: 100%;
    height: 60px;
    background-color: black;
    clear: both;
}
#footer ul{
    float: left;
    margin-top: 20px;
}
#footer ul li{
    display: inline;
    margin-right: 25px;
}
#footer ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
}
#footer p{
    color: white;
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    font-size: 20px;

}